@font-face {
    font-family: 'Norse Bold';
    src: url('assets/Norse-Bold.otf') format('opentype');
}

* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    width: 100dvw;
    height: 100dvh;
}

div.image-side {
    background-image: url(assets/halie-west-unsplash.jpg);
    background-size: cover;
    flex: 1 1 50dvw;
}

div.image-side > div:first-child {
    height: 50dvh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

div.image-side > div:last-child {
    height: 50dvh;
    display: flex;
    justify-content: center;
    align-items: end;
}

div.logo-side {
    background-color: #00000098;
    text-align: center;
    font-size: 5rem;
    display: flex;
    justify-content: center;
    font-family: 'Norse Bold';
}

div.logo-side > img {
    height: 80px;
}

div.image-side > div {
    color: #fff;
}

div.form-side {
    flex: 1 1 50dvw;
}